.body-batoi{
    div{
        background-color: white;
        h1{
            font-family: Roboto, sans-serif;
            font-size: 26px;
        }
        h2{
            font-family: Roboto, sans-serif;
            font-size: 26px;
        }
        h3{
            font-family: Roboto, sans-serif;
            font-size: 26px;
        }
        h4{
            font-family: Roboto, sans-serif;
            font-size: 26px;
        }
        p{
            font-family: Roboto, sans-serif;
            font-size: 16px;
            color: black;
        }

    }
}